.custom-background{
  background-color: palegoldenrod;
  width: 700px;
  height: 500px;
}
.custom-border{
  border-bottom: 5px solid red;
  width: 80%;
}
.custom-inputs{
  margin-left: 300px;
}
.custom-inputs1{
  margin-left: 200px;
}
.custom-inputs2{
  margin-left: 305px;
}
.custom-inputs3{
  margin-left: 50px;
}
.custom-inputs4{
  margin-left: 180px;
}
.custom-inputs5{
  margin-left: 230px;
}
.custom-inputs6{
  margin-left: 250px;
}
.custom-inputs7{
  margin-left: 220px;
}
.color{
  background-color: rosybrown;
}
.color1{
  background-color: rgb(236, 38, 38);
}
.color2{
  background-color: rgb(80, 73, 73);
}
.color3{
  background-color: rgb(15, 1, 1);
}
.color4{
  background-color: rgb(38, 236, 104);
}
.color5{
  background-color: rgb(97, 38, 236);
}